<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 SAP AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Eduard Bartsch (SAP AG) - initial API and implementation
        Mathias Kinzler (SAP AG) - initial API and implementation
 -->

<plugin>
   <extension
         id="org.eclipse.core.resources.semantic.semanticfs"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="semanticfs">
         <run
               class="org.eclipse.core.internal.resources.semantic.SemanticFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="org.eclipse.core.internal.resources.semantic.SemanticFileSystemAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticProject">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticFolder">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFolder"
            class="org.eclipse.core.internal.resources.semantic.SemanticFileSystemAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticFolder">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.core.internal.resources.semantic.SemanticFileSystemAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.eclipse.core.internal.resources.semantic.SemanticFileSystemAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.semantic.ISemanticResource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="org.eclipse.core.internal.resources.semantic.team.DelegatingRepositoryProviderStub"
            id="org.eclipse.core.internal.resources.semantic.DelegatingRepositoryProvider"
            metaFilePaths=".repository/info.xmi">
      </repository>
   </extension>
   <extension-point id="historyPageSource" name="Semantic File System History Page" schema="schema/historyPageSource.exsd"/>
   <extension-point id="contentProvider" name="Semantic File System Content Provider" schema="schema/org.eclipse.core.resources.semantic.spi.contentProvider.exsd"/>
   <extension-point id="pathContentProviderMapping" name="Path to Semantic File System Content Provider Mapping" schema="schema/org.eclipse.core.resources.semantic.spi.pathContentProviderMapping.exsd"/>
   <extension
         point="org.eclipse.core.resources.semantic.contentProvider">
      <contentProvider
            class="org.eclipse.core.internal.resources.semantic.provider.DefaultContentProvider"
            id="org.eclipse.core.resources.semantic.provider.DefaultContentProvider">
      </contentProvider>
   </extension>
</plugin>
