<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009 SAP AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Eduard Bartsch (SAP AG) - initial API and implementation
        Mathias Kinzler (SAP AG) - initial API and implementation
 -->
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.core.internal.resources.semantic.ui.ISemanticResourceContribution"
            objectClass="org.eclipse.core.resources.semantic.ISemanticResource">
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.EditAction"
               definitionId="org.eclipse.core.resources.semantic.ui.OpenForEditCommand"
               enablesFor="+"
               id="org.eclipse.core.internal.resources.semantic.ui.EditAction"
               label="%action.label.Edit_XMEN"
               menubarPath="team.main/group1">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.LockAction"
               definitionId="org.eclipse.core.resources.semantic.ui.LockCommand"
               enablesFor="+"
               id="org.eclipse.core.internal.resources.semantic.ui.LockAction"
               label="%action.label.Lock_XMEN"
               menubarPath="team.main/group1">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.UnlockAction"
               definitionId="org.eclipse.core.resources.semantic.ui.UnlockCommand"
               enablesFor="+"
               id="org.eclipse.core.internal.resources.semantic.ui.UnlockAction"
               label="%action.label.Unlock_XMEN"
               menubarPath="team.main/group1">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.RevertAction"
               definitionId="org.eclipse.core.resources.semantic.ui.RevertCommand"
               enablesFor="1"
               id="org.eclipse.core.internal.resources.semantic.ui.RevertAction"
               label="%action.label.Revert_XMEN"
               menubarPath="team.main/group1">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.SynchronizeAction"
               definitionId="org.eclipse.core.resources.semantic.ui.SynchronizeCommand"
               enablesFor="1"
               id="org.eclipse.core.internal.resources.semantic.ui.SynchronizeAction"
               label="%action.label.Sync_XMEN"
               menubarPath="team.main/group2">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.DeleteAction"
               definitionId="org.eclipse.core.resources.semantic.ui.DeleteCommand"
               enablesFor="1"
               id="org.eclipse.core.internal.resources.semantic.ui.DeleteAction"
               label="%action.label.Delete_XMEN"
               menubarPath="team.main/group3">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.RemoveAction"
               definitionId="org.eclipse.core.resources.semantic.ui.RemoveCommand"
               enablesFor="+"
               id="org.eclipse.core.internal.resources.semantic.ui.RemoveAction"
               label="%action.label.Remove_XMEN"
               menubarPath="team.main/group3">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.HistoryAction"
               definitionId="org.eclipse.core.resources.semantic.ui.RemoteHistoryCommand"
               enablesFor="1"
               id="org.eclipse.core.internal.resources.semantic.ui.HistoryAction"
               label="%action.label.RemoteHist_XMEN"
               menubarPath="team.main/group4">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.DiffAction"
               definitionId="org.eclipse.core.resources.semantic.ui.DiffCommand"
               enablesFor="1"
               id="org.eclipse.core.internal.resources.semantic.ui.DiffAction"
               label="%action.label.Diff_XMEN"
               menubarPath="team.main/group4">
         </action>
         <action
               class="org.eclipse.core.internal.resources.semantic.ui.actions.UnmapAction"
               definitionId="org.eclipse.core.resources.semantic.ui.UnshareCommand"
               enablesFor="1"
               id="org.eclipse.core.internal.resources.semantic.ui.UnmapAction"
               label="%action.label.Unshare_XMEN"
               menubarPath="team.main/group4">
         </action>
      </objectContribution>
   </extension>

	<extension
	         point="org.eclipse.ui.decorators">
	    <decorator
	            adaptable="true"
	            label="%decorator.label_XGRP"
	            state="true"
	            lightweight="true"
	            location="BOTTOM_RIGHT"
	            class="org.eclipse.core.internal.resources.semantic.ui.SemanticLightweightDecorator"
	            id="org.eclipse.core.internal.resources.semantic.ui.decorator">
	         <description>
	            %decorator.description_XGRP
	         </description>
          <enablement>
                <objectClass
                      name="org.eclipse.core.resources.IResource">
                </objectClass>
             </enablement>
	    </decorator>
	</extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.core.internal.resources.semantic.ui.SemanticResourcePropertyPage"
            id="org.eclipse.core.resources.semantic.propertyPage"
            name="%page.name_XGRP">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.semantic.ISemanticResource">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.core.resources.semantic.category"
            class="org.eclipse.core.internal.resources.semantic.ui.SFSNavigator"
            id="org.eclipse.core.resources.semantic.resourceView"
            name="%view.name_XGRP"
            restorable="true">
      </view>
      <category
            id="org.eclipse.core.resources.semantic.category"
            name="%category.name_XGRP">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.ide.filesystemSupport">
      <filesystemContributor
            class="org.eclipse.core.internal.resources.semantic.ui.SemanticFileSystemContributor"
            label="%filesystemContributor.label_XGRP"
            scheme="org.eclipse.core.resources.semantic.semanticfs">
      </filesystemContributor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.core.internal.resources.semantic.ui.SemanticFileSystemPreferencePage"
            id="org.eclipse.core.resources.semantic.preferencePage"
            name="%prefPage.name_XGRP">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.core.resources.semantic.ui.LockCommand"
            name="%command.Lock_XGRP">    
      </command>
      <command
            id="org.eclipse.core.resources.semantic.ui.UnlockCommand"
            name="%command.Unlock_XGRP">
      </command>
            <command
            id="org.eclipse.core.resources.semantic.ui.OpenForEditCommand"
            name="%command.Edit_XGRP">
      </command>
        <command
            id="org.eclipse.core.resources.semantic.ui.RevertCommand"
            name="%command.Revert_XGRP">
      </command>
        <command
              id="org.eclipse.core.resources.semantic.ui.SynchronizeCommand"
              name="%command.Sync_XGRP">
        </command>
        <command
              id="org.eclipse.core.resources.semantic.ui.DeleteCommand"
              name="%command.Delete_XGRP">
        </command>
        <command
              id="org.eclipse.core.resources.semantic.ui.RemoveCommand"
              name="%command.Remove_XGRP">
        </command>
        <command
              id="org.eclipse.core.resources.semantic.ui.RemoteHistoryCommand"
              name="%command.History_XGRP">
        </command>
        <command
              id="org.eclipse.core.resources.semantic.ui.DiffCommand"
              name="%command.Diff_XGRP">
        </command>
        <command
              id="org.eclipse.core.resources.semantic.ui.UnshareCommand"
              name="%command.Unshare_XGRP">
        </command>
      
   </extension>
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            class="org.eclipse.core.internal.resources.semantic.ui.team.RepositoryConfigurationWizard"
            icon="icons/sample.gif"
            id="org.eclipse.core.resources.semantic.team.SharingWizard"
            name="%configwizard.name_XGRP">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.team.ui.synchronizeParticipants">
      <participant
            class="org.eclipse.core.internal.resources.semantic.ui.sync.SemanticSubscriberParticipant"
            icon="icons/sample.gif"
            id="org.eclipse.core.resources.semantic.participant1"
            name="%synchparticipant.name_XGRP"
            persistent="false">
      </participant>
   </extension>
   <extension
         point="org.eclipse.team.ui.synchronizeWizards">
      <wizard
            class="org.eclipse.core.internal.resources.semantic.ui.sync.ConfigurationWizard"
            description="%synchwizard.description_XMSG"
            icon="icons/sample.gif"
            id="SemanticFolders.wizard1"
            name="%synchwizard.name_XGRP">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.resources.semantic.historyPageSource">
      <implementation
            class="org.eclipse.core.internal.resources.semantic.ui.team.SemanticHistoryPageSource">
      </implementation>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.core.resources.semantic.resourceView">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.resources.semantic.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.core.internal.resources.semantic.ui.util.SFSBrowserTreeContentProvider"
            id="org.eclipse.ui.resources.semantic.navigatorContent"
            labelProvider="org.eclipse.core.internal.resources.semantic.ui.util.SFSBrowserTreeLabelProvider"
            name="%navigatorContent_XGRP">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IWorkspaceRoot">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.core.internal.resources.semantic.ui.util.SFSBrowserTreeObject">
            </instanceof>
         </possibleChildren>
         <actionProvider
               class="org.eclipse.core.internal.resources.semantic.ui.SFSBrowserActionProvider">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.eclipse.core.resources.semantic.resourceView"
               minimized="false"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.core.resources.semantic.resourceView"
            typeMapper="org.eclipse.ui.views.properties.tabbed.AbstractTypeMapper">
         <propertyCategory
               category="org.eclipse.ui.resources.semantic.propertyCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.core.resources.semantic.resourceView">
         <propertyTab
               category="org.eclipse.ui.resources.semantic.propertyCategory"
               id="TabResource"
               label="%propertyTab_XGRP">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.core.resources.semantic.resourceView">
         <propertySection
               class="org.eclipse.core.internal.resources.semantic.ui.PropertySection"
               id="org.eclipse.ui.resources.semantic.propertySection1"
               tab="TabResource">
            <input
                  type="org.eclipse.core.internal.resources.semantic.ui.util.SFSBrowserTreeObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>


</plugin>
