<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009 SAP AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Eduard Bartsch (SAP AG) - initial API and implementation
        Mathias Kinzler (SAP AG) - initial API and implementation
 -->
<plugin>


   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IContainer"
            class="org.eclipse.core.resources.semantic.examples.remote.RemoteStoreAdapter">
         <adapter
               type="org.eclipse.core.resources.semantic.examples.remote.RemoteStore">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IContainer"
            class="org.eclipse.core.resources.semantic.examples.remote.RemoteStoreAdapter">
         <adapter
               type="org.eclipse.core.resources.semantic.examples.remote.RemoteStoreTransient">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.resources.semantic.contentProvider">
      <contentProvider
            class="org.eclipse.core.resources.semantic.examples.providers.RemoteStoreContentProvider"
            id="org.eclipse.core.resources.semantic.examples.providers.RemoteStoreContentProvider">
      </contentProvider>
      <contentProvider
            class="org.eclipse.core.resources.semantic.examples.providers.SampleWSDLXSDContentProvider"
            id="org.eclipse.core.resources.semantic.examples.providers.SampleWSDLXSDContentProvider">
      </contentProvider>
      <contentProvider
            class="org.eclipse.core.resources.semantic.examples.providers.SampleCompositeResourceContentProvider"
            id="org.eclipse.core.resources.semantic.examples.providers.SampleCompositeResourceContentProvider">
      </contentProvider>
   </extension>
   <extension
         point="org.eclipse.core.resources.semantic.pathContentProviderMapping">
      <mapping
            contentProviderId="org.eclipse.core.resources.semantic.examples.providers.SampleCompositeResourceContentProvider"
            path="SampleCompositeResourceContentProvider">
      </mapping>
      <mapping
            contentProviderId="org.eclipse.core.resources.semantic.examples.providers.RemoteStoreContentProvider"
            path="RemoteStoreContentProvider">
      </mapping>
      <mapping
            contentProviderId="org.eclipse.core.resources.semantic.examples.providers.SampleWSDLXSDContentProvider"
            path="SampleWSDLXSDContentProvider">
      </mapping>
   </extension>


</plugin>
